# to set FARM_CONFIG please click here: https://crontab.guru
CRON=0 * * * *
TELEGRAM_BOT_TOKEN=0000000000:AAAA_BBBBBBBBBBBBBBBBBBBBBBBB-CCCCCC
TELEGRAM_CHAT_ID=-0123456789012
# to set FARM_CONFIG please click here: https://www.f2pool.com/developer/api
FARM_CONFIG=[{"currency":"bitcoin","accounts":["XXX","YYY","ZZZ"]},{"currency":"zec","accounts":["XXX"]}]